Django>=3.1
celery>=4.4
django-celery-beat
django-environ
django-extensionsdjango-filter
django-health-check
django-redis
django-storages
djangorestframework>=3.11
python-json-logger
structlog

# infra
gevent
gunicorn
psycopg2-binary
redis
uvicorn

# tracking
datadog
ddtrace

# tests, linting, code quality
bandit
django-stubs
djangorestframework-stubs
flake8
flake8-commas
flake8-isort
isort
mypy
prospector
pytest
pytest-blockage
pytest-cov
pytest-django
pytest-mock
pytest-xdist
